@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 412px);
    padding-right: calc(50% - 412px);
  }

  .left {
    max-width: 300px;
  }
}

@media (min-width: 376px) and (max-width: 900px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      font-size: 48px;
      text-align: center;
    }
    &__text {
      text-align: center;
    }
  }
  .box {
    padding-top: 179px;
  }
  .left {
    max-width: 376px;
    &__heading {
      color: #fff;
      font-size: 32px;
      font-weight: 700;
      text-align: center;
    }
    &__description {
      color: #fff;
      text-align: center;
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      max-width: 343px;
    }
    &__button {
      text-align: center;
      margin-right: 56px;
      margin-left: 56px;
    }
  }
  .right svg {
    width: 344px;
    height: 236px;
  }
}
