@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 412px);
    padding-right: calc(50% - 412px);
  }
}

@media (min-width: 376px) and (max-width: 900px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      font-size: 48px;
      text-align: center;
    }

    &__text {
      text-align: center;
    }
  }
}
